$font-family: Open Sans,sans-serif;
$primary-background-gradient: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,1) 52%, rgba(61,5,85,1) 79%, rgba(127,0,116,1) 100%);
$primary-color: #2e2e35;


// font 
$primary-font-color: #e3946e;
$secondary-font-color: white;
$extra-bold: 700;

// box properties
$primary-margin: 1rem;
$seconddary-margin: 2rem;
$margin: 3rem;
