@import "../../../../variables.scss";

.logo{
    border: 1px solid red;
    font-size: $primary-font-size;
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: $extra-bold;
    color: $secondary-font-color;

    &>span{
        color: $primary-font-color;
    }
}